<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <title>NEWS API</title>
    <%- include("static/styles.ejs"); %>
  </head>
  <body>
    <h2>Welcome to our NEWS API</h2>
    
    <!--Alerts-->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Hey there..!!!</strong> You should check out our website.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!--Nav bar-->
    <div class="header" style="padding-top: 1em;">
      <ul class="nav nav-fill">
        <li class="nav-item">
          <img src="NEWS.png" href= "/" alt="Logo" style="height: 100px; width: auto;"/>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#about" style="font-size: 20px; padding-top: 2em;">About NEWS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#why" style="font-size: 20px; padding-top: 2em;">Why US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ways" style="font-size: 20px; padding-top: 2em;">Different Ways</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact" style="font-size: 20px; padding-top: 2em;">Contact US</a>
          </li>
      </ul>
    </div>

    <main id="main" role="main" class="info">
        <section id="about" class="about">
            <h2>About US</h2>
            <center><img src="school.jpeg" alt="school" style="height: 40%; width: 40%;"/></center>
            <p>We are a student created website, developed to provide users with the NEWS based on the user selection.</p>
        </section>
        <section id="why" class="why">
            <h2>Why US</h2>
            <br>
            <p>Here are some suggestions about why to use our website. </p>
            <br>

            <script type="text/javascript" 
            src="//code.jquery.com/jquery-1.9.1.js">
            </script>
              <link rel="stylesheet" 
                    type="text/css" 
                    href="/css/result-light.css">
              <script type="text/javascript" 
                      src=
          "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
            </script>
              <link rel="stylesheet" 
                    type="text/css" 
                    href=
          "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
              <link rel="stylesheet" 
                    type="text/css" 
                    href=
          "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            
            
          <body1>
              <!-- create a bootstrap card in a container-->
              <div class="container">
                  <!--Bootstrap card with slider class-->
                  <div id="carousel-demo" 
                      class="carousel slide" 
                      data-ride="carousel">
                      <div class="carousel-inner">
                          <div class="item">
                            <center><img src="slide1.jpeg" alt="WhyUs" width=“auto” height=“auto”></center>
                            <div class="carousel-caption">
                              <h1>Accuracy</h1>
                              <h4>Our site provides a variety of information gathered from reliable News Sources</h4>
                            </div>

                          </div>
                          <div class="item">
                            <center><img src="slide1.jpeg" alt="WhyUs" width=“auto” height=“auto”></center>
                            <div class="carousel-caption">
                              <h1>It's free!</h1>
                              <h4>This site is completely free to use!</h4>
                            </div>
                          </div>
                          <div class="item active">
                            <center><img src="slide1.jpeg" alt="WhyUs" width=“auto” height=“auto”></center>
                            <div class="carousel-caption">
                              <h1>Convenience</h1>
                              <h4>By using our site, you can easily find the information you need with just a bit of information and a click of a button!</h4>
                            </div>
                          </div>
                      </div>
                      <!--slider control for card-->
                      <a class="left carousel-control"
                        href="#carousel-demo"
                        data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left">
                        </span>
                      </a>
                      <a class="right carousel-control" 
                        href="#carousel-demo" 
                        data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right">
                        </span>
                      </a>
                  </div>
              </div>
          </body1>

        </section>
        <section id="ways" class="ways">
            <h2>Ways</h2>
            <br>
            <p>There are so many ways to obtain NEWS from all over the world. Here's a few methods: </p>
            <p>You can search for articles by using a Keyword or Date Published</p>
            <p>Give it a try!</p>
            <br>
            <form action="/" method="POST">
               <p> <input type="text" id="keyword" name="keyword" placeholder="keyword"></p>
              <p><input type="date" name="date" id="date" placeholder="mm/dd/yyyy"></p>
              <button formaction="/" type="submit">
                  <p>Search</p>
              </button>
          </form>
          <!-- outputs top five articles -->
          <% if (newsdata != null) { %>
            <h2>Here are the top five articles from your request:</h2>
            <% for(var i = 0; i < 20; i++) {%> 
              <div class="col-sm-6"> 
                <div class="panel ">
                  <div class="panel-heading"><center><h2><%- newsdata.articles[i].title %></h2></center></div>
                  <div class="panel-body"><center><a href="<%- newsdata.articles[i].url%>"><img src="<%- newsdata.articles[i].urlToImage %>" style="width:auto;height:100px;"></a></center></div>  
                  <div class="panel-footer"><center><p><%- newsdata.articles[i].description %></p></center></div>
                </div>
              </div>
            <% } %> 
          <% } %>
        </section>
        
        <section id="contact" class="contact">  
          
            <h2>Contact US</h2>
            <br>
            <form class="form-inline"><h5>To get more info, contact us by:</h5>
              <br>
              <p><a href="mailto:someone@example.com">Email</a></p>
              <p><a href="tel:+4733378901">Phone</a></p>
            </form>
          
        </section>
    </main>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>